@model TaMinhPhuoc_QLSV.Data.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Masv" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>
